body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.search-bar {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
 #type,#sort {
    width: 30vw;
    height: 2.5rem;
    padding: 0.09rem;
    font-size: 1rem;
    box-shadow: 0 0 1.5px black;
}

.search-bar label {
    font-size: 1rem;
   
}



#map {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    background-color: #ccc;
}

.restaurantList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1rem;
    width: 100%;
}

.restaurant-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s;
}

.restaurant-card:hover{
    transform: scale(1.005);
    background-color: darkgrey;
}

.restaurant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant-info {
    padding: 0.5rem 0;
    width: 100%;
}

.restaurant-info h3 {
    margin: 0;
}

@media (max-width: 768px) {
    .restaurantList {
        grid-template-columns: 1fr;
    }
}

#loading {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #181819;
}

.logo img {
    height: 100px;
}

.locat {
    flex: 1;
    text-align: center;
}

.locat h1 {
    margin-right: 100px;
}

.mark div{
    padding-left: 15px;
}

#tdSelect{
    width: 30vw;
}

#labelSelect{
    width:10vw;
    text-align: right;
}