body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.search-bar {
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    padding-left: 30%;
}

.search-bar  select {
    width: 30%;
    height: 2.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 1.5px black;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
    background-color: #ccc;
}

.restaurant-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 48%;
    cursor: pointer;
}
.restaurant-card:hover{
    
    transition: 0.5s;
}

.restaurant-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.restaurant-info {
    padding: 0.5rem 0;
}

.restaurant-info h3 {
    margin: 0;
}

@media (max-width: 768px) {
    .restaurant-card {
        width: 100%;
    }
}

#loading {
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #181819;
}

.logo img {
    height: 100px;
}

.locat {
    flex: 1;
    text-align: center;
}

.locat h1 {
    margin-right: 100px;
}